<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>		
		<link rel="stylesheet" th:href="@{/css/estilos.css}"		
	</head>
  <body>
    <h3>Recursos estaticos</h3>
    <img th:src="@{/images/gatito.png}" /> 
    <img th:src="@{/images/cuidado_mascotas.png}" /> 
    <img th:src="@{/images/lista.png}" />
    <hr/> 
    <img th:src="@{/images/mascota.png}" /> 
    <img th:src="@{/images/pasear_perro.png}" /> 
    <img th:src="@{/images/tienda_animales.png}" />
    
    <div th:replace="layout/frontend :: scripts"></div>
  </body>
</html>